<%- include('partials/header') %>

<html>

<body>

  <section class="colored-section" id="title">

    <div class="container-fluid">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar-dark">

        <a class="navbar-brand" href="">ABC Banking Group</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

          <ul class="navbar-nav ml-auto nav-background">
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Locateus">Locate us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#cta">Help</a>
            </li>
          </ul>

        </div>
      </nav>


      <!-- Title -->

      <div class="row">

        <div class="col-lg-6">
          <h1 class="medium-heading">One stop solution for all your financial needs</h1>
          <!--
          <button type="button" class="btn btn-dark btn-lg download-button"><i class="fab fa-apple"></i> Download</button>
          <button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fab fa-google-play"></i> Download</button>
        -->
        </div>
<!--
        <div class="col-lg-5 overbox">
          <img class="title-image" src="images/savings.jpg" alt="savings-mockup">
        </div>
-->
      </div>

    </div>

  </section>



  <!-- Press

  <section class="colored-section" id="press">
    <img class="press-logo" src="images/techcrunch.png" alt="tc-logo">
    <img class="press-logo" src="images/tnw.png" alt="tnw-logo">
    <img class="press-logo" src="images/bizinsider.png" alt="biz-insider-logo">
    <img class="press-logo" src="images/mashable.png" alt="mashable-logo">

  </section> -->


  <!-- Pricing -->

  <section class="white-section" id="pricing">

    <h2 class="section-heading">A Plan for Everyone's Needs</h2>
    <p>Simple and affordable plans and services for you and your family.</p>

    <div class="row">

      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h4>Planning for retirement?</h4>
          </div>
          <div class="card-body">

            <p>Retirement savings plan</p>
            <p>Medical insurance coverage</p>
            <p>Pension plans</p>

          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4 col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Starting a family?</h3>
          </div>
          <div class="card-body">

            <p>Insurance for Self and family</p>
            <p>Kids education savings plan</p>
            <p>Low interest housing loans</p>

          </div>
        </div>
      </div>

      <div class="pricing-column col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3>Starting a business?</h3>
          </div>
          <div class="card-body">

            <p>Loan against securities</p>
            <p>Risk coverage insurance</p>
            <p>Loan against property</p>

          </div>
        </div>
      </div>

    </div>

  </section>

  <!-- Features -->

  <section class="white-section" id="features">

    <div class="container-fluid">

      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-check-circle fa-4x"></i>
          <h3 class="feature-title">Money app.</h3>
          <p>Access your money from anywhere in the world.</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-bullseye fa-4x"></i>
          <h3 class="feature-title">Peace of Mind</h3>
          <p>Be prepared for tougher times</p>
        </div>

        <div class="feature-box col-lg-4">
          <i class="icon fas fa-heart fa-4x"></i>
          <h3 class="feature-title">Satisfaction</h3>
          <p>Get your financial solutions with a click away</p>
        </div>
      </div>


    </div>
  </section>

  <!-- Testimonials -->

  <section class="colored-section" id="testimonials">

    <div id="testimonial-carousel" class="carousel slide" data-ride="false">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <h2 class="testimonial-text">Suits my family needs with wide range of products.</h2>
          <img class="testimonial-image" src="images/adult1.jpg" alt="man1-profile">
          <em>Vijay Madhesia, Paris</em>
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">Always find the economic and best financial solutions. I love it.</h2>
          <img class="testimonial-image" src="images/adult2.jpg" alt="man2-profile">
          <em>Allen John, Illinois</em>
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">Very helpful. Best returns . Fantastic services.</h2>
          <img class="testimonial-image" src="images/adult3.jpg" alt="man3-profile">
          <em>Hari, Sydney</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
      </a>
    </div>

  </section>

  <!-- Call to Action -->

  <section class="colored-section" id="cta">

    <div class="container-fluid">

      <h3 class="small-heading">Discover the banker in you today using our wide range of products.</h3>
      <button class="btn btn-dark btn-padding" type="button">Book an appointment now</button>

    </div>


  </section>


  <!-- Footer -->

  <footer class="white-section" id="footer">
    <div class="container-fluid">

      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>
      <p>© Copyright 2020 ABC Banking group</p>
      <button class="download-button btn btn-lg btn-dark" type="button"><i class="fab fa-apple"></i> Download</button>
      <button class="download-button btn btn-lg brn-light" type="button"><i class="fab fa-google-play"></i> Download</button>
    </div>

  </footer>


</body>

</html>


<%- include('partials/footer') %>
