<%- include('partials/header') %>


  <div class="container">
    <i class="fas fa-key fa-3x"></i>
    <h3 class="h2">You've Registered Succesfully</h3>
    <p class="secret-text">Click below to login</p>
    <hr>

    <a class="btn btn-light btn-lg" href="/login" role="button">Login</a>
    </div>


<%- include('partials/footer') %>
